.paragraph1{
    background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg?raw=true");
   background-position: center;
   background-size: cover;
    color: white;
    margin-bottom: 2%;
  height: 100%;
}
#Logo{
    align-self: center;
    margin-left: 47%;
    margin-bottom: 9%;
    margin-top: 11%;
}
#del1{
    text-align: center;
font-size: 39px;
}
#del2{
    text-align: center;
    font-size: 38px;
}

#del3{
    text-align: center;
    font-size: 24px
}

#mouse{
    margin-left: 50%;
    margin-bottom: 7%;
    align-self: center;
}
.paragraph2{
    background-color: white;
}
#abtus{
    text-align: center;
}
 #p1{
    text-align: center;
}
#p2{
    text-align: center;
}
#p3{
    text-align: center; 
}
.paragraph3{
    background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/s_image.jpg?raw=true");
    background-position: center;
    background-size: cover;
    color: white
}
#services{
    text-align: center;
    margin-top: 5%;
}
#p4{
    text-align: center;
}
#p5{
    text-align: center;
}
#p6{
    text-align: center;
}
#design hidden{
    display: none;
}
#development hide{
    display: none;
}
#pm hide {
    display: none;
}
#des1{
    margin-top: 3px;
}
#dev1{
   margin-top:6px;
}
#pm1{
margin-top:6px;
}
#WHATWEDO{
    text-align: center;
    margin-top: 6%;
    margin-bottom: 5%
}
.paragraph4{
    background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/c_image.jpg?raw=true");
    background-position: center;
    background-size: cover;
    margin-bottom: 2%;
    margin-top: 5%;

};

#portfolio{
    margin-top: 9%;
    text-align: center;
}
.col-md-3:hover{
      padding: 15px;
  } 
  #cs{
    text-align: center;
    color: white;
    margin-top: 3%;
    font-style: italic;
  }
 
  #textarea1{
    margin-left: 30%;
    margin-top: 2%;
    margin-bottom: 5%;
    background-color: transparent;
  
  
  }
  .paragraph5{
      margin-left: 27%;
  }
  .cs1{
      margin-left: 36%;
  }
  #name{
      background-color: transparent;
  }
  
  #email{
      background-color: transparent;

  }
  #btn{
   margin-left:50%;
   margin-bottom: 4%;
  }
  .paragraph6{
      text-align: center;
  };
  #h5{
      text-align: centre;
      margin-left: 50%;
  };
    

  
  
  