.paragraph1{
    background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/h_img.jpg?raw=true");
    background-size: cover;
    background-position: center;
    color: white;
    margin-top: 2%;
   margin-bottom:
}
#del1{
    text-align: center;

}
#del2{
    text-align: center;
}

#del3{
    text-align: center;
}

#Logo{
    align-self: center;
}
.paragraph2{
    background-color: white;
}
#abtus{
    text-align: center;
}
 #p1{
    text-align: center;
}
#p2{
    text-align: center;
}
#p3{
    text-align: center; 
}
.paragraph3{
    background-image: url("https://github.com/jonnygovish/IP3/blob/master/assets/backgrounds/s_image.jpg?raw=true");
}
#services{
    text-align: center;
}
#p4{
    text-align: center;
}
#p5{
    text-align: center;
}
#p6{
    text-align: center;
}
#design hidden{
    display: none;
}
#development hide{
    display: none;
}